@media screen and (max-width: 1400px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    .about-containers {
      flex-wrap: wrap;
    }

    /* Profile */

    .logo-img {
      width: 6rem;
  }

  .section__text__p1 {
      font-size: 0.7rem;
  }

  .title {
      font-size: 1.3rem;
  }
  .section__text__p2 {
      font-size: 0.8rem;
  }

  .tag {
      font-size: 0.9rem;
      margin-bottom: 0;
  }

  .btn__container {
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  .btn {
      display: inline;
      white-space: nowrap;
      padding: 0.9rem;
      width: auto;
      font-size: 0.7rem;
  }


  /* .btn-color-2{
      margin-left: 15px;
  } */

  .icon {
      height: 1.5rem;
  }

     /* About */

     .about-container {
      gap: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      font-size: 13px;
  }

  .details-container {
      padding:0.9rem;
  }

  .about-text {
      font-size: 0.7rem;
  }

}
